
/* .edgeBtn{
    position: fixed;
    top: 5px;
    left: 0;
    transform: translate(-50%, -50%);
    color: #FF1947;
    background: none;
    border: none;
} */

/* .wrapper {
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */ 