.defaultNode{
    border: 2px solid #FF1947;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.defaultNode input{
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
    color: #FF1947;
    border: none;
    text-align: center;
    text-transform: capitalize;
}

.defaultNode input:focus{
    outline: none;
}

.defaultNode button {
    position: fixed;
    top: -2.5rem;
    color: #FF1947;
    background: none;
    border: none;
}